<% if params[:subject_show] == "true" %>
  <%= turbo_stream.replace "approvables" do %>
    <%= render 'subjects/approvables' %>
  <% end %>
  <% if @subject.exam&.prerequisite_tree %>
    <%= turbo_stream.replace "exam-prerequisites" do %>
      <div id="exam-prerequisites">
        <%= render @subject.exam.prerequisite_tree, negative: false %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "credits-bar" do %>
    <%= render 'shared/credits_bar' %>
  <% end %>

  <%= turbo_stream.replace "subjects" do %>
    <%= render 'subjects/subjects_bulk_approve' %>
  <% end %>
<% end %>
