<div class="bg-white">
  <h3 class="text-3xl/9 text-center text-neutral-700 py-3">Resumen por Grupo</h3>
  <ul class="divide-y divide-gray-200">
    <% @groups_and_credits.each do |group| %>
      <li>
        <%= link_to subject_group_path(group[:subject_group]), :class => "text-gray-900 flex items-center justify-between px-4 py-3 hover:bg-gray-50" do %>
          <%= group[:subject_group].name %>
          <span class="ml-4 text-right <%= group[:credits_needed_reached] ? "text-green-600" : "text-red-600" %>">
            <%= group[:credits] %> / <%= group[:subject_group].credits_needed %>
          </span>
        <% end %>
      </li>
    <% end %>
    <li class="flex items-center justify-between px-4 py-3 font-bold text-lg">
      <span class="text-gray-900">
        Total
      </span>
      <span class="text-right <%= (@all_group_credits_met && @total_credits >= 450) ? "text-green-600" : "text-red-600" %>">
        <%= @total_credits %> / 450
      </span>
    </li>
  </ul>
</div>
