<% content_for :navigation_icon do %>
  <%= nav_icon("arrow_back", (request.referer || root_path)) %>
<% end %>
<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5 sign-in">Ingreso</h3>
  <ul class="mdc-list growing-text-list">

    <li class="sign-in-option sign-in">
    <%= google_sign_in_button proceed_to: create_callback_session_path, class: "sign-in-button" do %>
      <span class="google-icon"></span> Ingresar con Google
    <% end %>
    </li>
    <li role="separator" class="mdc-list-divider"></li>

    <%= form_with url: "/session" do |form| %>
      <li class="sign-in-option sign-in">
        Ingresar con tu correo electrónico
      </li>
      <li class="sign-in-option">
        <%= form.label :email, "Correo electrónico:" %>
        <%= form.email_field :email, class: "form-input", required: true %>
      </li>
      <li class="sign-in-option">
        <%= form.label :password, "Contraseña:" %>
        <%= form.password_field :password, class: "form-input", required: true %>
      </li>
      <li class="sign-in-option sign-in">
        <%= form.submit "Ingresar", class: "sign-in-button" %>
      </li>
    <% end %>

    <li class="sign-in-option sign-in">
      <%= link_to '¿Olvidaste tu contraseña?', new_password_resets_path, class: "account-session" %>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="sign-in-option sign-in">
      ¿No estás registrado?
      <%= link_to 'Registrarte', new_account_path, class: "account-session" %>
    </li>

  </ul>
</div>
