<%= turbo_stream.append_all "body" do %>
  <dialog data-controller="modal" class="m-auto justify-self-center self-center relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl sm:w-full sm:max-w-lg sm:p-6">
    <div>
      <% if @successful_subjects.present? %>
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:size-10">
            <%= material_icon("check", "text-green-500") %>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
            <h3 class="text-base font-semibold text-gray-900"><%= @successful_subjects.length %> materias marcadas correctamente</h3>
            <div class="text-left overflow-y-auto max-h-35 bg-gray-50 p-2 mt-2">
              <% @successful_subjects.each do |subject| %>
                <p class="text-gray-700"><%= subject.code %> - <%= subject.name %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @failed_entries.present? %>
        <div class="sm:flex sm:items-start mt-5">
          <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-yellow-100 sm:mx-0 sm:size-10">
            <%= material_icon("warning_amber", "text-yellow-500") %>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
            <h3 class="text-base font-semibold text-gray-900">Materias no encontradas</h3>
            <div class="text-left overflow-y-auto max-h-35 bg-gray-50 p-2 mt-2">
              <% @failed_entries.each do |entry| %>
                <p class="text-gray-700"><%= entry.name %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="mt-5 sm:mt-6">
        <%= link_to "Ir al inicio", root_path, class: "inline-flex w-full justify-center rounded-md bg-primary px-3 py-2 font-semibold text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2" %>
      </div>
    </dialog>
  <% end %>
