<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5 sign-in">Editar Usuario</h3>
  <ul class="mdc-list growing-text-list">

    <%= form_with(model: resource, url: registration_path(resource_name), method: :put, local: true) do |f| %>

      <li class="form-input-container">
        <div class="mdc-text-field <%='mdc-text-field--invalid mdc-text-field--with-trailing-icon' if resource.errors[:email].any? %>" data-controller="textfield">
          <%= render 'shared/invalid_icon', resource: resource, field: :email %>
          <%= f.label :email, "Correo electrónico", class: "mdc-floating-label" %>
          <%= f.email_field :email, class: "mdc-text-field__input", required: true, autofocus: true, autocomplete: "email" %>
          <div class="mdc-line-ripple"></div>
        </div>
        <%= render 'shared/info_and_errors', resource: resource, field: :email, text:  current_user.oauth_user? ?
            "Si cambias tu correo electrónico, perderás el acceso con Google" :
            "" %>
      </li>
      <li class="form-input-container">
        <div class="mdc-text-field <%='mdc-text-field--invalid mdc-text-field--with-trailing-icon' if resource.errors[:password].any? %>" data-controller="textfield">
          <%= render 'shared/invalid_icon', resource: resource, field: :password %>
          <%= f.label :password, "Nueva contraseña", class: "mdc-floating-label" %>
          <%= f.password_field :password, class: "mdc-text-field__input", autofocus: true, autocomplete: "password" %>
          <div class="mdc-line-ripple"></div>
        </div>
        <%= render 'shared/info_and_errors', resource: resource, field: :password, text: "#{@minimum_password_length} caracteres mínimo. Dejar en blanco si no lo quieres cambiar." %>
      </li>
      <li class="form-input-container">
        <div class="mdc-text-field <%='mdc-text-field--invalid mdc-text-field--with-trailing-icon' if resource.errors[:password_confirmation].any? %>" data-controller="textfield">
          <%= render 'shared/invalid_icon', resource: resource, field: :password_confirmation %>
          <%= f.label :password_confirmation, "Confirma tu nueva contraseña", class: "mdc-floating-label" %>
          <%= f.password_field :password_confirmation, class: "mdc-text-field__input", autofocus: true, autocomplete: "password_confirmation" %>
          <div class="mdc-line-ripple"></div>
        </div>
        <%= render 'shared/info_and_errors', resource: resource, field: :password_confirmation, text: '' %>
      </li>
      <li class="form-input-container">
        <div class="mdc-text-field <%='mdc-text-field--invalid mdc-text-field--with-trailing-icon' if resource.errors[:current_password].any? %>" data-controller="textfield">
          <%= render 'shared/invalid_icon', resource: resource, field: :current_password %>
          <%= f.label :current_password, "Contraseña actual", class: "mdc-floating-label" %>
          <%= f.password_field :current_password, class: "mdc-text-field__input", required: true, autofocus: true %>
          <div class="mdc-line-ripple"></div>
        </div>
        <%= render 'shared/info_and_errors', resource: resource, field: :current_password, text: 'Necesitamos tu contraseña actual para validar los cambios' %>
      </li>

      <li class="form-input-container sign-in">
        <%= f.button class: "mdc-button mdc-button--raised" do %>
          <span class='mdc-button__label'>
            Guardar
          </span>
        <% end %>
      </li>

    <% end %>

  </ul>
</div>
