<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  <li class="sign-in-option sign-in">
    Registrarte con tu correo electrónico
  </li>
  <li class="sign-in-option">
    <%= f.label :email, "Correo electrónico:" %>
    <%= f.email_field :email, class: "form-input", required: true %>
  </li>
  <li class="sign-in-option">
    <%= f.label :password, "Nueva contraseña:" %>
    <%= f.password_field :password, class: "form-input", required: true %>
  </li>
  <li class="sign-in-option">
    <%= f.label :password_confirmation, "Confirma tu nueva contraseña:" %>
    <%= f.password_field :password_confirmation, class: "form-input", required: true %>
  </li>
  <li class="sign-in-option sign-in">
    <%= f.submit "Registrarte", class: "sign-in-button" %>
  </li>

<% end %>

<%= render "devise/shared/links" %>


------

<% content_for :navigation_icon do %>
  <%= nav_icon("arrow_back", (request.referer || root_path)) %>
<% end %>
<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5 sign-in">Registro</h3>
  <ul class="mdc-list growing-text-list">

    <li class="sign-in-option sign-in">
      <%= google_sign_in_button proceed_to: create_callback_account_path, class: "sign-in-button" do %>
        <span class="google-icon"></span> Registrarte con Google
      <% end %>
    </li>
    <li role="separator" class="mdc-list-divider"></li>

    <%= form_with url: "/account" do |form| %>
      <li class="sign-in-option sign-in">
        Registrarte con tu correo electrónico
      </li>
      <li class="sign-in-option">
        <%= form.label :email, "Correo electrónico:" %>
        <%= form.email_field :email, class: "form-input", required: true %>
      </li>
      <li class="sign-in-option">
        <%= form.label :password, "Nueva contraseña:" %>
        <%= form.password_field :password, class: "form-input", required: true %>
      </li>
      <li class="sign-in-option">
        <%= form.label :password_confirmation, "Confirma tu nueva contraseña:" %>
        <%= form.password_field :password_confirmation, class: "form-input", required: true %>
      </li>
      <li class="sign-in-option sign-in">
        <%= form.submit "Registrarte", class: "sign-in-button" %>
      </li>
    <% end %>

    <li role="separator" class="mdc-list-divider"></li>
    <li class="sign-in-option sign-in">
      ¿Ya estás registrado?
      <%= link_to 'Ingresar', new_session_path, class: "account-session" %>
    </li>

  </ul>
</div>
