<div class="flex flex-col justify-center items-center p-6 space-y-4">
  <%= image_tag "icon.png", class: "w-16 rounded-full" %>

  <h2 class="text-center text-3xl/9 text-neutral-700">Registrarse</h2>

  <div class="w-full max-w-sm space-y-6 py-6">
    <%= form_with(model: resource, url: registration_path(resource_name), local: true, class: "flex flex-col bg-neutral-100 p-6 border-1 border-neutral-200 rounded-lg shadow-sm") do |f| %>
      <%= render EmailFieldComponent.new(form: f, attribute: :email, label: "Correo electr칩nico", input_options: { required: true, autofocus: true, autocomplete: "email" }) %>

      <%= render PasswordFieldComponent.new(form: f, attribute: :password, label: "Contrase침a", input_options: { required: true, autocomplete: "new-password" }) %>

      <%= render PasswordFieldComponent.new(form: f, attribute: :password_confirmation, label: "Confirma tu contrase침a", input_options: { required: true, autocomplete: "new-password" }, hint: "La contrase침a debe tener al menos #{@minimum_password_length} caracteres") %>

      <%= f.button "Registrarte", class: "mdc-button mdc-button--raised my-2 self-center" %>

    <%= render "devise/shared/links" %>

    <hr class="border-neutral-200" />

    <%= render "shared/sso_buttons" %>
  </div>
</div>
