<div class="flex flex-col justify-center items-center p-6 space-y-6">
  <%= image_tag "icon.png", class: "w-20 rounded-full" %>

  <h2 class="text-3xl/9 text-neutral-700">Registrarse</h2>

  <div class="w-full max-w-md space-y-6">
    <%= form_with(model: resource, url: registration_path(resource_name), local: true, class: "flex flex-col space-y-6") do |f| %>
      <%= render EmailFieldComponent.new(form: f, attribute: :email, label: "Correo electrónico", input_options: { required: true, autofocus: true, autocomplete: "email" }) %>

      <%= render PasswordFieldComponent.new(form: f, attribute: :password, label: "Contraseña", input_options: { required: true, autocomplete: "new-password" }, hint: "La contraseña debe tener al menos #{@minimum_password_length} caracteres") %>

      <%= render PasswordFieldComponent.new(form: f, attribute: :password_confirmation, label: "Confirma tu contraseña", input_options: { required: true, autocomplete: "new-password" }) %>

      <p class="text-sm text-gray-500">Para continuar, por favor seleccioná una carrera:</p>
      <%= render partial: 'shared/select_field', locals: {
        f: f,
        field_name: :degree_id,
        collection: Degree.all.pluck(:name, :id),
      } %>

      <%= f.button "Registrarte", class: "mdc-button mdc-button--raised self-center" %>
    <% end %>

    <div class="relative flex items-center">
      <div class="flex-grow border-t border-neutral-500"></div>
      <span class="flex-shrink mx-2 text-neutral-500">O continuar con</span>
      <div class="flex-grow border-t border-neutral-500"></div>
    </div>

    <%= render "shared/google_sso" %>

    <%= render "devise/shared/links" %>
  </div>
</div>
