<div class="inline-flex flex-col items-center rounded-lg border border-purple-500 p-4 mb-4 text-center">
  <h3 class="font-semibold text-gray-800 mb-1"><%= review_name %></h3>

  <span class="text-xl font-extrabold text-indigo-900 mb-3"><%= display_rating %></span>

  <h4 class="text-xs font-semibold text-indigo-900 mb-1"> Tu puntuación </h4>
  <div class="flex items-center flex-row-reverse gap-2">
    <% star_options.each do |star| %>
      <%= form_with url: star[:url], method: star[:form_method], class: "transition-transform duration-[250ms] ease-[ease] hover:scale-[1.3] [&:hover~&]:scale-[1.3]" do |f| %>
        <%= f.hidden_field :subject_id, value: subject_id %>
        <%= f.hidden_field column_name, value: star[:value] %>
        <%= f.button star[:button_icon], class: "material-icons cursor-pointer !text-xl #{star[:button_classes]}" %>
      <% end %>
    <% end %>
  </div>
</div>
