<div class="space-y-2" data-controller="<%= 'show-password' if password? %>">
  <div class="flex items-center justify-between">
    <%= form.label attribute, label, class: "text-sm/6 font-medium text-gray-700 #{"text-red-600" if errors?}" %>

    <%= content if content? %>
  </div>

  <div class="relative w-full">
    <%= form.send("#{type}_field", attribute,
                   class: "w-full pr-16 rounded-md bg-white px-3 py-1.5 outline-1 focus:outline-2 outline-gray-300 focus:outline-indigo-600 #{"outline-red-500 focus:outline-red-600" if errors?}",
          required: required,
          data: password? ? { show_password_target: "password" } : {}
        ) %>

    <% if password? %>
      <button type="button"
              class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer hover:text-indigo-700 <%= "text-red-600 hover:text-red-700" if errors? %>"
              data-action="show-password#toggle">
        <span class="material-icons" data-show-password-target="icon">visibility</span>
      </button>
    <% end %>
  </div>
  <% if errors? %>
    <div class="text-red-600 text-sm/6">
      <%= error_messages %>
    </div>
  <% end %>
</div>
