<div>
  <%= form.label attribute, label, class: "text-sm/6 font-medium text-gray-700 with-error:text-red-600" %>

  <div class="relative w-full" data-controller="show-password">
    <%= form.password_field attribute, input_options %>

    <%= button_tag type: "button", class: STYLES[:icon], data: { action: "show-password#toggle" } do %>
      <%= heroicon "eye", options: { class: "text-gray-500 size-6", data_show_password_target: "eye" } %>
      <%= heroicon "eye-slash", options: { class: "text-gray-500 size-6 hidden", data_show_password_target: "eyeSlash" } %>
    <% end %>
  </div>

  <% if error_messages.present? %>
    <div class="text-red-600 text-sm/6 mt-1">
      <%= error_messages %>
    </div>
  <% elsif hint.present? %>
    <div class="text-gray-500 text-sm/6 mt-1">
      <%= hint %>
    </div>
  <% end %>
</div>
