<div>
  <%= form.label attribute, label, class: "font-medium text-gray-700 with-error:text-red-600" %>
  <div class="relative w-full" data-controller="show-password">
    <%= form.password_field attribute, input_options %>
    <%= button_tag type: "button", class: STYLES[:icon], data: { action: "show-password#toggle" } do %>
      <span class="material-icons" data-show-password-target="icon">visibility</span>
    <% end %>
  </div>
  <% if error_messages.present? %>
    <div class="text-red-600 mt-1">
      <%= error_messages %>
    </div>
  <% elsif hint.present? %>
    <div class="text-gray-500 mt-1">
      <%= hint %>
    </div>
  <% end %>
</div>
