<div class="flex flex-col justify-center items-center p-6 space-y-6">
  <h2 class="text-3xl/9 text-neutral-700">Administra tus Passkeys</h2>

  <%= render 'shared/alert' if flash[:alert] %>

  <ul class="flex flex-col w-full max-w-md divide-y divide-gray-200 list-none">
    <% current_user.passkeys.each do |passkey| %>
      <li class="flex justify-between items-center py-3">
        <span class="text-gray-900 font-medium">
          <%= passkey.name %>
        </span>
        <%= button_to user_passkey_path(passkey), method: :delete, form: { data: { turbo: true, turbo_confirm: '¿Seguro que quieres borrar esta Passkey?' } }, class: 'flex items-center hover:text-red-600 transition-colors' do %>
          <%= material_icon("delete") %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div data-controller="webauthn-support" data-action="webauthn:unsupported->webauthn-support#disableButton" class="contents">
    <%= passkey_creation_form_for(current_user, form_classes: "flex flex-col w-full max-w-md gap-6") do |f| %>
      <%= f.label :name, "Nombre", class: "text-sm/6 font-medium text-gray-700 with-error:text-red-600" %>
      <%= f.text_field :name, class: "bg-white w-full rounded-md px-3 py-1.5 outline-1 outline-gray-300 focus:outline-2 focus:outline-indigo-600", required: true %>

      <div class="w-full flex flex-col">
        <%= render ButtonComponent.new(form: f, label: "Agregar Passkey", data: { webauthn_support_target: "button" }) %>
        <p class="text-xs text-red-600 mt-1" data-webauthn-support-target="unsupportedMessage" hidden>
          WebAuthn no está soportado en este navegador. Por favor, usa un navegador compatible para agregar passkeys.
        </p>
      </div>
    <% end %>
  </div>
</div>
