<div class="flex flex-col justify-center items-center p-6 space-y-6">
  <h2 class="text-3xl/9 text-neutral-700">Ingresa tu Contraseña</h2>

  <%= form_with url: process_verification_user_passkeys_path, method: :post, class: "flex flex-col w-full max-w-md space-y-6" do |f| %>
    <%= render 'shared/alert' if flash[:alert] %>

    <%= f.label :password, "Contraseña", class: "text-sm/6 font-medium text-gray-700 with-error:text-red-600" %>

    <div class="relative w-full" data-controller="show-password">
      <%= f.password_field :password, class: "bg-white w-full rounded-md px-3 py-1.5 outline-1 outline-gray-300 focus:outline-2 focus:outline-indigo-600 with-error:outline-red-500 with-error:focus:outline-red-600", data: { show_password_target: "password" }, required: true %>

      <%= button_tag type: "button", class: "flex items-center absolute inset-y-0 right-0 px-3 focus:outline-indigo-600 cursor-pointer hover:text-indigo-700", data: { action: "show-password#toggle" } do %>
        <span class="material-icons" data-show-password-target="icon">visibility</span>
      <% end %>
    </div>

    <%= render ButtonComponent.new(form: f, label: "Verificar") %>
  <% end %>
</div>
