<% percentage = ((current_student.total_credits / 450.0) * 100).floor %>
<% show_credits_inside_bar = current_student.total_credits >= 150 %>
<header id="credits-bar" class="sticky top-14 sm:top-16 bg-white border-b border-b-gray-200 p-2">
  <div class="relative flex w-full h-4 bg-gray-200 rounded-full overflow-hidden" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100">
    <div class="flex flex-col justify-center rounded-full overflow-hidden bg-primary text-xs text-white text-center whitespace-nowrap" style="width: <%= percentage %>%">
      <span class="<%= 'hidden' unless show_credits_inside_bar %>"> <%= current_student.total_credits %> créditos </span>
    </div>
    <div class="absolute w-full text-center text-xs text-primary <%= 'hidden' if show_credits_inside_bar %>"><%= current_student.total_credits %> créditos</div>
  </div>
</header>
