<aside class="mdc-drawer mdc-drawer--dismissible">
  <div class="mdc-drawer__content">
    <div class="mdc-list">

      <% if current_user %>
        <div class="menu-user-info">
          <span class="mdc-list-item__text">
            Logueado como <br>
            <%= current_user.email %>
          </span>
        </div>
        <li role="separator" class="mdc-list-divider"></li>
      <% end %>
      <%= link_to root_path, class: "mdc-list-item", aria: { current: 'page'} do %>
        <span class="mdc-list-item__text">
          Inicio
        <span>
      <% end %>
      <%= link_to all_subjects_path, class: "mdc-list-item", aria: { current: 'page'} do %>
        <span class="mdc-list-item__text">
          Materias
        <span>
      <% end %>
      <%= link_to profile_path, class: "mdc-list-item", aria: { current: 'page'} do %>
        <span class="mdc-list-item__text">
          Avance de carrera
        </span>
      <% end %>
      <li role="separator" class="mdc-list-divider"></li>
      <a class='mdc-list-item' href="https://github.com/cedarcode/student" target='_blank' aria-current='page'>
        <span class="material-symbols-outlined">
          open_in_new
        </span>
        &nbsp;
        <span class='mdc-list-item__text'>
          Colabora en Github
        </span>
      </a>
      <li role="separator" class="mdc-list-divider"></li>
      <% if current_user %>
        <%= link_to edit_user_registration_path, class: "mdc-list-item", aria: { current: 'page'} do %>
          <span class="mdc-list-item__text">
            Editar Perfil
          <span>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class: "mdc-list-item", aria: { current: 'page'} do %>
          <span class="mdc-list-item__text">
            Salir
          </span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: 'mdc-list-item', aria: { current: 'page'} do %>
          <span class="mdc-list-item__text">
            Ingresar
          <span>
        <% end %>
      <% end %>
    </div>
  </div>
</aside>
