  <%= form_with(
    url: session_path(resource_name),
    method: :post,
    class: "w-full",
    data: { controller: "passkey-button-visibility", action: "webauthn:unsupported->passkey-button-visibility#hide" }
  ) do |form| %>
  <%= tag.webauthn_get(data: { options_json: passkey_authentication_options }) do %>
    <%= form.hidden_field(:public_key_credential, data: { webauthn_target: "response" }) %>

    <%= form.button(type: "submit", class: "w-full flex items-center justify-center p-2 rounded-lg border border-neutral-300 cursor-pointer bg-white space-x-1") do %>
      <%= image_tag "passkey-icon.png", class: "w-6" %>
      <span class="text-sm text-neutral-700 font-semibold">Ingresar con Passkey</span>
    <% end %>
  <% end %>
<% end %>
