<div data-controller="textfield show-password">
  <div class="flex items-center justify-between">
    <%= f.label field, label_text, class: "text-sm/6 font-medium #{resource.errors[field].any? ? 'text-red-700' : 'text-indigo-700'}" %>

    <% if with_forgot_password_link %>
      <%= link_to '¿Has olvidado tu contraseña?', new_password_path(resource), class: "font-semibold text-indigo-700 hover:text-indigo-600 text-sm/6" %>
    <% end %>
  </div>

  <div class="relative w-full">
    <%= f.password_field field, class: "w-full pr-16 rounded-md bg-white px-3 py-1.5 outline-1 focus:outline-2 #{resource.errors[field].any? ? 'outline-red-600 focus:outline-red-700' : 'outline-indigo-600 focus:outline-indigo-700'}", required:, autofocus: true, autocomplete:, data: { show_password_target: "password" } %>

    <button type="button" class="absolute inset-y-0 <%= resource.errors[field].any? ? 'right-6' : 'right-0' %> flex items-center pr-3 cursor-pointer <%= resource.errors[field].any? ? "text-red-700 hover:text-red-600" : "text-indigo-700 hover:text-indigo-600" %> " data-action="show-password#toggle">
      <span class="material-icons" data-show-password-target="icon">visibility</span>
    </button>

    <%= render 'shared/invalid_icon', resource: resource, field: field %>
  </div>
</div>
