<div>
  <%= form_with model: Review.new, local: true, html: { class: 'review-form', id: 'review-form' } do |f| %>
    <div>
      <%= f.label :comentario %>
    </div>
    
    <div class="review-form-star-rating" data-review-star-rating-target='stars' data-action='input->confirm-review-button#enable'>
      <% (0..4).each do |i| %>
        <input type="radio" name="review[rating]" value="<%= 5 - i %>" id="star<%= i %>" />
        <label for="star<%= i %>">
          <span class="material-symbols-outlined">star</span>
        </label>
      <% end %>
    </div>

    <div class="review-form-element" data-review-text-area-target='textarea' data-action='input->confirm-review-button#enable'>
      <%= f.text_area :content, class: "text-area", id: "review-content" %>
    </div>

    <div class="review-form-element" data-confirm-review-button-target='button'>
      <%= f.submit "Confirmar", class: "review-button", id: "submit-button", disabled: true %>
    </div>
  <% end %>

  <div class="review-form-element">
    <%= link_to 'Ver todas las reseñas', reviews_path, class: 'review-button' %>
  </div>
</div>
