<%= form_with model: Review.new, local: true, html: { class: 'review-form' } do |f| %>
  <div>
    <%= f.label :comentario %>
  </div>
  
  <div class="review-form-star-rating">
    <% (1..5).each do |i| %>
      <input type="radio" name="review[rating]" value="<%= i %>" id="star<%= i %>" />
      <label for="star<%= i %>">
        <span class="material-symbols-outlined">star</span>
      </label>
    <% end %>
  </div>

  <div class="review-form-element">
    <%= f.text_area :content, class: "text-area" %>
  </div>

  <div class="review-form-element">
    <%= f.submit "Confirmar", class: "review-button"%>
  </div>
<% end %>

<div class="review-form-element">
  <%= link_to 'Ver todas las reseñas', reviews_path, class: 'review-button' %>
</div>
