<div class="flex items-center py-3 px-4 hover:bg-gray-100 cursor-pointer">
  <span class="flex-1">
    <%= "Debe tener menos de " if negative %>
    <% if credits_prerequisite.subject_group %>
        <%= credits_prerequisite.credits_needed %> créditos en <%= credits_prerequisite.subject_group.name %>
    <% else %>
      <%= credits_prerequisite.credits_needed %> créditos totales
    <% end %>
  </span>

  <%= render 'prerequisites/met_checkmark', prerequisite: credits_prerequisite, negative: %>
</div>
