<div>
  <%= form_with model: AppReview.new, local: true, html: { class: 'app-review-form', id: 'app-review-form' } do |f| %>
    <div>
      <%= f.label :comentario %>
    </div>

    <div class="app-review-form-star-rating" data-app-review-star-rating-target='stars' data-action='input->confirm-app-review-button#enable'>
      <% (0..4).each do |i| %>
        <input type="radio" name="app_review[rating]" value="<%= 5 - i %>" id="star<%= i %>" />
        <label for="star<%= i %>">
          <span class="material-symbols-outlined">star</span>
        </label>
      <% end %>
    </div>

    <div class="app-review-form-element" data-app-review-text-area-target='textarea' data-action='input->confirm-app-review-button#enable'>
      <%= f.text_area :content, class: "text-area", id: "app-review-content" %>
    </div>

    <div class="app-review-form-element" data-confirm-app-review-button-target='button'>
      <%= f.submit "Confirmar", class: "app-review-button", id: "submit-button" %>
    </div>
  <% end %>
</div>
