<% content_for :navigation_icon do %>
  <%= nav_icon("arrow_back", (request.referer ? 'javascript:history.back()' : root_path)) %>
<% end %>

<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5 sign-in">Restablecer contrase単a</h3>

  <ul class="mdc-list growing-text-list">
    <%= form_with url: "/passwords" do |form| %>
      <%= form.hidden_field :t, value: params[:t] %>

      <li class="sign-in-option">
        <%= @user.email_address %>
      </li>

      <li class="sign-in-option">
        <%= form.label :password, "Nueva contrase単a:" %>
        <%= form.password_field :password, class: "form-input", autocomplete: "new-password", required: true %>
      </li>

      <li class="sign-in-option">
        <%= form.label :password_confirmation, "Confirma tu nueva contrase単a:" %>
        <%= form.password_field :password_confirmation, class: "form-input", autocomplete: "new-password", required: true %>
      </li>

      <li class="sign-in-option sign-in">
        <%= form.submit "Restablecer contrase単a", class: "sign-in-button" %>
      </li>
    <% end %>
  </ul>
</div>
