<div class="mdc-deprecated-list position-relative" data-controller="loading <%= "confetti" if @graduated %>" id="approvables">
  <%= render "approvals/spinner_template" %>

  <label class="mdc-deprecated-list-item <%= "mdc-deprecated-list-item--disabled" if !current_student.available?(@subject.course) %>" for="<%= dom_id(@subject.course) %>">
    <span class="mdc-deprecated-list-item__ripple"></span>
    <span class="mdc-deprecated-list-item__text">
      Curso aprobado?
    </span>

    <span class="mdc-deprecated-list-item__meta">
      <%= component(:approvable_checkbox, approvable: @subject.course, subject_show: true, current_student: current_student) %>
    </span>
  </label>

  <% if @subject.exam %>
    <label class="mdc-deprecated-list-item <%= "mdc-deprecated-list-item--disabled" if !current_student.available?(@subject.exam) %>" for="<%= dom_id(@subject.exam) %>">
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="mdc-deprecated-list-item__text">
        Examen aprobado?
      </span>

      <span class="mdc-deprecated-list-item__meta">
        <%= component(:approvable_checkbox, approvable: @subject.exam, subject_show: true, current_student: current_student) %>
      </span>
    </label>
  <% end %>
</div>
