<div class="flex gap-4 items-center py-6 px-4 max-[500px]:flex-col max-[500px]:gap-3 max-[500px]:items-start">
  <span class="text-gray-700 whitespace-nowrap">
    Planificar materia:
  </span>
  <%= form_with(
    model: SubjectPlan.new,
    url: subject_plans_path,
    method: :post,
    data: { controller: "autosave-check" },
    class: 'flex items-center gap-4 flex-1',
    local: false
  ) do |form| %>
    <div class="flex-1 min-w-0">
      <%= form.select(
        :subject_id,
        subjects.map { |s| [display_planned_subject_name_and_code(s), s.id] },
        {},
        {
          class: 'w-full rounded-md text-sm shadow-sm border border-gray-300 truncate cursor-pointer',
          data: { action: "click->autosave-check#stopPropagation" }
        }
      ) %>
    </div>
    <div class="w-20">
      <%= form.select(
        :semester,
        (1..10).map { |i| ["Sem. #{i}", i] },
        {},
        {
          class: 'w-full rounded-md text-sm shadow-sm border border-gray-300 truncate cursor-pointer',
          data: { action: "click->autosave-check#stopPropagation" }
        }
      ) %>
    </div>
    <%= form.button type: :submit, class: "text-gray-500 cursor-pointer", data: { action: "click->autosave-check#update" } do %>
      <%= image_tag "add_circle.svg" %>
    <% end %>
  <% end %>
</div>
