<% if subjects.any? %>
  <div id="not-planned-subjects" data-controller="collapsible" class="bg-white rounded-lg border border-gray-100 shadow-sm">
    <a data-action="click->collapsible#toggle" class="flex items-center h-10 px-4 bg-gray-50 rounded-lg cursor-pointer">
      <span class="material-icons pr-2" data-collapsible-target="button"><%= @approved_subjects_card_opened ? "expand_more" : "chevron_right"%></span>
      <span class="flex-1 text-sm font-bold"><%= subjects.size %> Materias aprobadas sin semestre asignado</span>
    </a>

    <div class="<%= "hidden" unless @approved_subjects_card_opened %>" data-collapsible-target="collapsible" >
      <% subjects.each do |subject| %>
        <%= form_with(
          model: SubjectPlan.new,
          url: subject_plans_path(approved_subjects_card_opened: true),
          method: :post,
          data: { turbo: true },
          class: 'flex items-center gap-3 p-3 hover:bg-gray-100'
        ) do |form| %>
          <%= link_to display_name(subject), subject, class: "grow text-sm/6 text-gray-900" %>
          <%= material_icon("check", "text-green-500") %>
          <%=
            form.select(
              :semester,
              (1..10).map { |i| ["Sem. #{i}", i] },
              {},
              class: 'min-w-24 h-6 px-2 rounded-md text-sm/6 text-gray-900 shadow-sm border border-gray-300 truncate cursor-pointer'
            )
          %>
          <%= form.hidden_field :subject_id, value: subject.id %>
          <%= form.button type: :submit, class: "cursor-pointer py-2 ps-3 material-icons text-gray-400" do %>
            add_circle_outline
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
