<ul class="space-y-1">
  <% subjects.each do |subject| %>
    <li class="flex items-center gap-4 px-4 py-2 hover:bg-gray-100 transition-colors">
      <%= link_to subject_path(subject), class: "flex-1 text-sm/6 text-gray-900 transition-colors" do %>
        <%= display_name(subject) %>
      <% end %>
      
      <%= form_with(
        model: SubjectPlan.new,
        url: subject_plans_path,
        method: :post,
        data: { controller: "autosave-check" },
        class: 'flex items-center gap-2',
        local: false
      ) do |form| %>
        <%= 
          form.select(
            :semester, 
            options_for_select((1..10).map{|i| ["Sem. #{i}", i]}),
            {}, 
            {
              class: 'mr-1 w-20 rounded-md px-1 text-sm/6 text-gray-900 shadow-sm border border-gray-300 truncate cursor-pointer',
              data: { action: "click->autosave-check#stopPropagation" }
            }
          )
        %>
        <%= form.hidden_field :subject_id, value: subject.id %>
        <%= form.button type: :submit, class: "cursor-pointer", data: { action: "click->autosave-check#update" } do %>
          <%= heroicon "plus-circle", variant: :outline, options: { class: "size-6 text-gray-500" } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
