<div class="space-y-4">
  <% @planned_subjects.group_by(&:semester).each do |semester, planned_subjects| %>
    <div class="space-y-1">
      <div class="flex items-center justify-between h-10">
        <h3 class="text-sm font-bold ml-4">
          <%= semester_display_name(semester) %>
        </h3>
        <%= render partial: "credits_counter", locals: { planned_subjects: planned_subjects } %>
      </div>
      <ul class="space-y-1">
        <% planned_subjects.each do |subject| %>
          <li class="flex items-center gap-4 px-4 py-2 hover:bg-gray-100 transition-colors">
            <%= link_to subject_path(subject), class: "flex-1 text-sm/6 text-gray-900 transition-colors" do %>
              <%= display_name(subject) %>
            <% end %>
            
            <div class="flex items-center gap-2 flex-shrink-0">
              <% if current_student.approved?(subject) %>
                <svg data-icon="check" width="20" height="20" fill="none" stroke="#22c55e" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l4 4 6-8" />
                </svg>
              <% elsif !current_student.available?(subject) %>
                <svg data-icon="lock" width="20" height="20" fill="none" stroke="#9ca3af" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <rect x="5" y="9" width="10" height="7" rx="2" stroke-width="2"/>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 9V7a3 3 0 1 1 6 0v2" />
                </svg>
              <% end %>
              
              <%= form_with(
                  url: subject_plan_path(subject_id: subject.id),
                  method: :delete,
                  data: { controller: "autosave-check" },
                  class: 'inline-flex',
                ) do |form| %>
                  <%= form.button type: :submit, class: "cursor-pointer", data: { action: "click->autosave-check#update" } do %>
                    <svg data-icon="remove-circle" width="20" height="20" fill="none" stroke="#9ca3af" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="10" cy="10" r="8" stroke-width="2"/>
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 10h6" />
                    </svg>
                  <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
