<div class="space-y-4">
  <% @planned_subjects.group_by(&:semester).each do |semester, planned_subjects| %>
    <div class="space-y-1">
      <div class="flex items-center justify-between h-10">
        <h3 class="text-sm font-bold ml-4">
          <%= semester_display_name(semester) %>
        </h3>
        <%= render partial: "credits_counter", locals: { planned_subjects: planned_subjects } %>
      </div>
      <div class="space-y-1">
        <% planned_subjects.each do |subject| %>
          <div class="flex items-center gap-4 px-4 py-2 hover:bg-gray-100 transition-colors">
            <%= link_to subject_path(subject), class: "flex-1 min-w-0 text-gray-700 hover:text-indigo-600 transition-colors" do %>
              <span class="truncate">
                <%= display_name(subject) %>
              </span>
            <% end %>
            
            <div class="flex items-center gap-2">
              <% if current_student.approved?(subject) %>
                <%= image_tag "check.svg", class: "w-5 h-5" %>
              <% elsif !current_student.available?(subject) %>
                <%= image_tag "lock.svg", class: "w-5 h-5" %>
              <% end %>
              
              <%= form_with(
                  url: subject_plan_path(subject_id: subject.id),
                  method: :delete,
                  data: { controller: "autosave-check" },
                  class: 'inline-flex',
                ) do |form| %>
                  <%= form.button type: :submit, class: "text-gray-500 hover:text-red-600 cursor-pointer transition-colors", data: { action: "click->autosave-check#update" } do %>
                    <%= image_tag "remove_circle.svg", class: "w-5 h-5" %>
                  <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
