<div class="mdc-deprecated-list">
  <% subject_plans.group_by(&:semester).each do |semester, subject_plans| %>
    <div class="subject-group-header">
      <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
        <%= semester_display_name(semester) %>
      </h3>
      <%= render partial: "credits_counter", locals: { subject_plans: subject_plans } %>
    </div>
    <% subject_plans.each do |subject_plan| %>
      <%= link_to subject_path(subject_plan.subject), :class => "mdc-deprecated-list-item" do %>
        <span class="mdc-deprecated-list-item__ripple"></span>
        <span class="mdc-deprecated-list-item__text">
          <%= display_name(subject_plan.subject) %>
        </span>
        <% if current_student.approved?(subject_plan.subject) %>
          <span class="mdc-deprecated-list-item__meta material-icons">done</span>
        <% else %>
          <%= form_with(
            model: subject_plan.subject,
            url: subject_plan_path(subject_id: subject_plan.subject.id),
            method: :delete,
            data: { controller: "autosave-check" },
            class: 'd-flex',
          ) do |form| %>
            <span class="mdc-deprecated-list-item__meta material-icons" data-action="click->autosave-check#update">remove_circle_outline</span>
          <% end %>
          <% if !current_student.available?(subject_plan.subject) %>
            <span class="mdc-deprecated-list-item__meta material-icons">lock</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
