<div class="space-y-4">
  <% if @not_planned_approved_subjects.any? %>
    <div class="bg-white rounded-lg border border-gray-100 shadow-sm">
      <h3 class="bg-gray-50 text-sm font-bold px-4 py-3">
        Materias aprobadas sin semestre asignado
      </h3>
      
      <% @not_planned_approved_subjects.each do |subject| %> 
        <%= form_with(
          model: SubjectPlan.new,
          url: subject_plans_path,
          method: :post,
          data: { turbo: true },
          class: 'flex items-center gap-3 px-4 py-5 hover:bg-gray-100 transition-colors',
          local: false
        ) do |form| %>
          <%= link_to display_name(subject), subject, class: "grow text-sm/6 text-gray-900 transition-colors" %>
          
          <svg data-icon="check" width="20" height="20" fill="none" stroke="#22c55e" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l4 4 6-8" />
          </svg>

          <%= 
            form.select(
              :semester,
              (1..10).map { |i| ["Sem. #{i}", i] },
              {}, 
              class: 'w-24 h-6 px-2 rounded-md text-sm/6 text-gray-900 shadow-sm border border-gray-300 truncate cursor-pointer'
            )
          %>
          <%= form.hidden_field :subject_id, value: subject.id %>
          <%= form.button type: :submit, class: "cursor-pointer ps-3", data: { action: "click->autosave-check#update" } do %>
            <svg data-icon="add-circle" width="20" height="20" fill="none" stroke="#9ca3af" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12" r="10" stroke-width="2"></circle>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v8m-4-4h8"></path>
            </svg>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% (1..10).each do |semester| %>
    <% planned_subjects = @planned_subjects.select { |subject| subject.semester == semester } %>
    <div class="bg-white rounded-lg border border-gray-100 shadow-sm">
      <div class="flex items-center justify-between h-10 bg-gray-50">
        <h3 class="text-sm font-bold ml-4">
          <%= semester_display_name(semester) %>
        </h3>
        <%= render partial: "credits_counter", locals: { planned_subjects: planned_subjects } %>
      </div>
      
      <% if planned_subjects.any? %>
        <% planned_subjects.each do |subject| %>
          <%= form_with(
              url: subject_plan_path(subject_id: subject.id),
              method: :delete,
              data: { turbo: true },
              class: 'flex items-center gap-3 px-4 py-2.5 hover:bg-gray-100 transition-colors',
            ) do |form| %>
              <%= link_to display_name(subject), subject, class: "grow text-sm/6 text-gray-900 transition-colors" %>
              
              <% if current_student.approved?(subject) %>
                <svg data-icon="check" width="20" height="20" fill="none" stroke="#22c55e" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l4 4 6-8" />
                </svg>
              <% elsif !current_student.available?(subject) %>
                <svg data-icon="lock" width="20" height="20" fill="none" stroke="#9ca3af" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <rect x="5" y="9" width="10" height="7" rx="2" stroke-width="2"/>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 9V7a3 3 0 1 1 6 0v2" />
                </svg>
              <% end %>

              <%= form.button type: :submit, class: "cursor-pointer py-3 ps-3", data: { action: "click->autosave-check#update" } do %>
                <svg data-icon="remove-circle" width="20" height="20" fill="none" stroke="#9ca3af" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="10" cy="10" r="8" stroke-width="2"/>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 10h6" />
                </svg>
              <% end %>
            <% end %>
        <% end %>
      <% else %>
        <div class="text-sm/6 text-gray-900 mx-4 h-[44px] my-3 italic flex items-center">
          No hay materias planificadas para este semestre
        </div>
      <% end %>
      
      <%= form_with(
        model: SubjectPlan.new,
        url: subject_plans_path,
        method: :post,
        data: { turbo: true },
        class: 'flex items-center gap-3 px-4 py-2.5 hover:bg-gray-100 transition-colors border-t border-gray-100',
        local: false
      ) do |form| %>
        <span class="grow text-sm/6 text-gray-900 transition-colors">
          Planificar:
        </span>
        <%= form.select(
          :subject_id,
          @not_planned_subjects.map { |s| [display_planned_subject_name_and_code(s), s.id] },
          { prompt: 'Materia' },
          class: 'w-24 h-6 px-2 rounded-md text-sm/6 text-gray-900 shadow-sm border border-gray-300 truncate cursor-pointer'
        ) %>
        <%= form.hidden_field :semester, value: semester %>
        <%= form.button type: :submit, class: "cursor-pointer py-3 ps-3", data: { action: "click->autosave-check#update" } do %>
          <svg data-icon="add-circle" width="20" height="20" fill="none" stroke="#9ca3af" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="10" stroke-width="2"></circle>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v8m-4-4h8"></path>
          </svg>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
