<div class="mdc-deprecated-list-item non-clickable-list-item">
  <span class="mdc-deprecated-list-item__text">
    Puntuación: <%= @subject.average_rating || "Sin calificar" %>
  </span>
</div>
<div class="mdc-deprecated-list-item non-clickable-list-item">
  <span class="mdc-deprecated-list-item__text">
    Tu puntuación:
  </span>
  <div class="rating-items gap-2">
    <% 5.downto(1).each do |value| %>
      <% filled = @user_review.present? && @user_review.rating >= value %>
      <% selected = @user_review.present? && @user_review.rating == value %>
      <% url = selected ? review_path(@user_review) : reviews_path %>
      <% method = selected ? :delete : :post %>
      <%= form_with(url:, method:, class: "interactive-star") do |f| %>
        <%= f.hidden_field :subject_id, value: @subject.id %>
        <%= f.hidden_field :rating, value: %>
        <%= f.button do %>
          <%= heroicon "star", variant: filled ? :solid : :outline, options: { class: "text-yellow-500 size-6 cursor-pointer" } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
