<div class="mdc-list-item growing-text-list">
  <%= link_to subject_path(subject), :class => "mdc-list-item__text" do %>
    <%= subject.short_name || subject.name %>
  <% end %>
  <span class="mdc-list-item__meta two-checkboxes">
    <%= form_with(model: subject, url: approve_subject_path(subject), data: { controller: "autosave-check", action: "ajax:success->bedel#approvalChange ajax:success->autosave-check#notifyCreditsChange" }, local: false) do |form| %>
      <div class="mdc-checkbox">
        <%= form.check_box :course_approved, { id: "checkbox_#{subject.id}_course_approved", class: "mdc-checkbox__native-control", checked: bedel.approved?(subject.course), data: { action: "bedel#prepareUpdate autosave-check#update" } }, "yes", "no" %>
        <div class="mdc-checkbox__background">
          <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
            <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>

          <div class="mdc-checkbox__mixedmark"></div>
        </div>
      </div>
    <% end %>

    <% if subject.exam %>
      <%= form_with(model: subject, url: approve_subject_path(subject), data: { controller: "autosave-check", action: "ajax:success->bedel#approvalChange ajax:success->autosave-check#notifyCreditsChange" }, local: false) do |form| %>
        <div class="mdc-checkbox">
          <%= form.check_box :exam_approved, { id: "checkbox_#{subject.id}_exam_approved", class: "mdc-checkbox__native-control", checked: bedel.approved?(subject.exam), disabled: !bedel.able_to_do?(subject.exam), data: { action: "bedel#prepareUpdate autosave-check#update" } }, "yes", "no" %>

          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>

            <div class="mdc-checkbox__mixedmark"></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </span>
</div>
