<div data-controller="bedel loading <%= "confetti" if @graduated %>" id="subjects" >
  <%= render "approvals/spinner_template" %>

  <% @subjects.group_by(&:category).each do |category, subjects| %>
    <div class="relative">
      <div class="flex items-center justify-between sticky top-0 border-y border-t-gray-100 border-b-gray-200 bg-gray-50 px-3 py-1.5 text-sm/6 font-semibold text-gray-900">
        <h3><%= formatted_category(category) %></h3>
        <div class='flex'>
          <h3 class='checkbox-header'>Curso</h3>
          <h3 class='checkbox-header'>Examen</h3>
        </div>
      </div>
      <ul role="list">
        <% subjects.each do |subject| %>
          <%= component :list_item, text: display_name(subject), link: subject_path(subject) do |component| %>
            <% component.with_trailing_icon do %>
              <span class="flex min-w-[90px] ms-[15px]">
                <%= render 'shared/tailwind_checkbox_component', approvable: subject.course, subject_show: false %>
                <% if subject.exam %>
                  <%= render 'shared/tailwind_checkbox_component', approvable: subject.exam, subject_show: false %>
                <% end %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</nav>
