<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<%= turbo_frame_tag :all_subjects_page, @pagy.page, target: :_top do %>
  <% if @subjects.any? %>
    <% @subjects.group_by(&:category).each do |category, subjects| %>
      <div >
        <div
          data-controller="list-separator"
          data-list-separator-target="separator"
          class="hidden separator items-center h-[50px] border-y border-t-gray-100 border-b-gray-200 bg-gray-50 px-3 py-1.5 text-sm/6 font-semibold text-gray-900"
        >
          <h3 class="grow list-separator-header">
            <%= formatted_category(category) %>
          </h3>
        </div>
      </div>
      <%= render partial: "subjects/subjects_list", locals: { subjects: subjects } %>
    <% end %>
  <% else %>
    <div class="flex justify-center items-center mt-12 text-gray-500 text-2xl font-light gap-1">
      <%= material_icon("search") %>
      No hay resultados
    </div>
  <% end %>

  <% if @pagy.next.present? %>
    <%= turbo_frame_tag :all_subjects_page, @pagy.next,
      data: {
        controller: "infinite-scroll",
      },
      src: all_subjects_path(page: @pagy.next),
      loading: :lazy,
      target: :_top do %>
      <%= render "shared/spinner" %>
    <% end %>
  <% end %>
<% end %>
