<% content_for :title do %>
  <span class="mdc-top-app-bar__title">Student</span>
<% end %>

<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<% content_for :profile_link do %>
  <%= action_icon("person", profile_path) %>
<% end %>

<div class="mdc-list-group subjects-list">
  <% @subjects.group_by { |subject| subject.semester }.each do |semester, subjects| %>
    <h3 class="mdc-list-group__subheader mdc-typography--subtitle2">
      <% if semester.present? %>
        <%= semester_to_text(semester) %> semestre
      <% else %>
        Materias optativas
      <% end %>
    </h3>

    <div class="mdc-list">
      <% subjects.each do |subject| %>
        <%= link_to subject_path(subject), :class => "mdc-list-item" do %>
          <span class="mdc-list-item__text">
            <%= subject.short_name || subject.name %>
          </span>
          <% if bedel.approved?(subject) %>
            <span class="mdc-list-item__meta material-icons">done</span>
          <% elsif !bedel.able_to_do?(subject) %>
            <span class="mdc-list-item__meta material-icons">lock</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <hr class="mdc-list-divider">
  <% end %>
</div>
