<% content_for :title do %>
  <span class="mdc-top-app-bar__title">Student</span>
<% end %>

<% content_for :credits do %>
  <span class="js-credits-count">
    <%= @credits %>
  </span>

  créditos
  </span>
<% end %>

<div class="mdc-list-group">
  <% @subjects.group_by { |c| c.semester }.each do |semester, subjects| %>
    <h3 class="mdc-list-group__subheader mdc-typography--subtitle2"><%= semester_to_text(semester) %> semestre</h3>

    <div class="mdc-list">
      <% subjects.each do |subject| %>
        <%= link_to subject_path(subject), :class => "mdc-list-item" do %>
          <span class="mdc-list-item__text">
            <%= subject.short_name || subject.name %>
          </span>

          <span class="mdc-list-item__meta">
            <%= form_with(model: subject, url: approve_subject_path(subject), data: { controller: "autosave-check", action: "ajax:success->autosave-check#updateCredits" }) do |form| %>
              <div class="mdc-checkbox">
                <%= form.check_box :exam_approved, { id: "checkbox_#{subject.id}", class: "mdc-checkbox__native-control", checked: exam_approved?(subject), data: { action: "autosave-check#update" } }, "yes", "no" %>

                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>

                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
              </div>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </div>
    <hr class="mdc-list-divider">
  <% end %>
</div>
