<% content_for :navigation_icon do %>
  <%= nav_icon("arrow_back", root_path) %>
<% end %>

<% content_for :profile_link do %>
  <%= action_icon("person", profile_path) %>
<% end %>

<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5"><%= @subject.name %></h3>
  <hr class="mdc-list-divider">

  <h3 class="mdc-list-group__subheader mdc-typography--subtitle2">Información general</h3>
  <div class="mdc-list">
    <label class="mdc-list-item">
      <span class="mdc-list-item__text">
        Créditos: <%= @subject.credits %>
      </span>
    </label>

    <label class="mdc-list-item">
      <span class="mdc-list-item__text">
        Grupo: <%= @subject.group.name %>
      </span>
    </label>
  </div>
  <hr class="mdc-list-divider">

  <h3 class="mdc-list-group__subheader mdc-typography--subtitle2">Aprobación</h3>
  <div class="mdc-list" data-controller="exam-visibility" >
    <label class="mdc-list-item" for="checkbox_course_approved">
      <span class="mdc-list-item__text">
        Curso aprobado?
      </span>

      <span class="mdc-list-item__meta">
        <%= form_with(model: @subject, url: approve_subject_path(@subject), data: { controller: "autosave-check", action: "ajax:success->exam-visibility#approvalChange" }) do |form| %>
          <div class="mdc-checkbox">
            <%= form.check_box :course_approved, { id: "checkbox_course_approved", class: "mdc-checkbox__native-control", checked: bedel.approved?(@subject.course), data: { action: "autosave-check#update" } }, "yes", "no" %>
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
              </svg>

              <div class="mdc-checkbox__mixedmark"></div>
            </div>
          </div>
        <% end %>
      </span>
    </label>

    <% if @subject.exam %>
      <label class="mdc-list-item <%= "mdc-list-item--disabled" if !bedel.able_to_do?(@subject.exam) %>" for="checkbox_exam_approved" data-target="exam-visibility.exam" data-subject-id="<%= @subject.id %>">
        <span class="mdc-list-item__text">
          Examen aprobado?
        </span>

        <span class="mdc-list-item__meta">
          <%= form_with(model: @subject, url: approve_subject_path(@subject), data: { controller: "autosave-check" }) do |form| %>
            <div class="mdc-checkbox">
              <%= form.check_box :exam_approved, { id: "checkbox_exam_approved", class: "mdc-checkbox__native-control", checked: bedel.approved?(@subject.exam), disabled: !bedel.able_to_do?(@subject.exam), data: { action: "autosave-check#update",  target: "exam-visibility.checkbox" } }, "yes", "no" %>
              <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                  <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                </svg>

                <div class="mdc-checkbox__mixedmark"></div>
              </div>
            </div>
          <% end %>
        </span>
      </label>
    <% end %>
  </div>
  <hr class="mdc-list-divider">

  <% if @subject.openfing %>
    <h3 class="mdc-list-group__subheader mdc-typography--subtitle2">Links de interés</h3>
    <div class="mdc-list">
        <a href="<%= @subject.openfing %>" class="mdc-list-item">
          <span class="mdc-list-item__graphic material-icons">videocam</span>
          <span class="mdc-list-item__text">OpenFING</span>
        </a>
    </div>
    <hr class="mdc-list-divider">
  <% end %>

  <%= render partial: 'prerequisites/index', locals: { prerequisites_course: @subject.course.prerequisite_tree, prerequisites_exam: @subject.exam&.prerequisite_tree } %>
</div>
