<div class="mdc-deprecated-list-group">
  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--headline5"><%= @subject.code %> - <%= @subject.name %></h3>
  <hr class="mdc-deprecated-list-divider">

  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">Información general</h3>
  <div class="mdc-deprecated-list growing-text-list">
    <label class="mdc-deprecated-list-item non-clickable-list-item">
      <span class="mdc-deprecated-list-item__text">
        Créditos: <%= @subject.credits %>
      </span>
    </label>

    <label class="mdc-deprecated-list-item">
      <% if @subject.group %>
        <%= link_to subject_group_path(@subject.group), :class => "mdc-deprecated-list-item__text" do %>
          Grupo: <%= @subject.group.name %>
        <% end %>
      <% else  %>
        Grupo: Desconocido
      <% end %>
    </label>
  </div>
  <hr class="mdc-deprecated-list-divider">

  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">Aprobación</h3>
  <%= render 'approvables' %>
  <hr class="mdc-deprecated-list-divider">

  <% if @subject.openfing_id || @subject.eva_id %>
    <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">Links de interés</h3>
    <div class="mdc-deprecated-list">
      <% if @subject.openfing_id %>
        <a href="https://open.fing.edu.uy/courses/<%= @subject.openfing_id %>" target="_blank" class="mdc-deprecated-list-item">
          <span class="mdc-deprecated-list-item__ripple"></span>
          <span class="mdc-deprecated-list-item__graphic material-icons">videocam</span>
          <span class="mdc-deprecated-list-item__text">OpenFING</span>
        </a>
      <% end %>

      <% if @subject.eva_id %>
        <a href="https://eva.fing.edu.uy/course/view.php?id=<%= @subject.eva_id%>" target="_blank" class="mdc-deprecated-list-item">
          <span class="mdc-deprecated-list-item__ripple"></span>
          <span class="mdc-deprecated-list-item__graphic material-icons">forum</span>
          <span class="mdc-deprecated-list-item__text">EVA</span>
        </a>
      <% end %>
    </div>
    <hr class="mdc-deprecated-list-divider">
  <% end %>

  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">Previas</h3>

  <% if @subject.course.prerequisite_tree %>
    <span class="mdc-deprecated-list-group__subheader mdc-typography--subtitle1 prerequisite-type">
      Del curso:
    </span>
    <div class="mdc-deprecated-list">
      <%= render @subject.course.prerequisite_tree, negative: false %>
    </div>
  <% end %>

  <% if @subject.exam&.prerequisite_tree %>
    <span class="mdc-deprecated-list-group__subheader mdc-typography--subtitle1 prerequisite-type">
      Del examen:
    </span>
    <div class="mdc-deprecated-list">
      <%= render @subject.exam.prerequisite_tree, negative: false %>
    </div>
  <% end %>
</div>
