<div class="mdc-deprecated-list-group">
  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--headline5 sign-in">Ingreso</h3>
  <ul class="mdc-deprecated-list growing-text-list">

    <li class="form-input-container google-button-container">

      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= form_with url: omniauth_authorize_path(resource_name, provider), method: :post, local: true do |f| %>
          <%= f.button class: 'google-sign-in-button' do %>
            <%= image_tag asset_path('google-icon.png'), class: 'google-icon' %>
            <span class='google-sign-in-text'>Continuar con Google</span>
          <% end %>
        <% end %>
      <% end %>
    </li>

    <li role="separator" class="mdc-deprecated-list-divider"></li>

    <%= form_with(model: resource, url: session_path(resource_name), local: true) do |f| %>
      <li class="form-input-container sign-in">
        Ingresar con tu correo electrónico
      </li>
      <li class="form-input-container">
        <div class="mdc-text-field mdc-text-field--filled <%='mdc-text-field--invalid mdc-text-field--with-trailing-icon' if resource.errors[:email].any? %>" data-controller="textfield">
          <span class="mdc-text-field__ripple"></span>
          <%= f.label :email, "Correo electrónico", class: "mdc-floating-label" %>
          <%= f.email_field :email, class: "mdc-text-field__input", required: true, autofocus: true %>
          <%= render 'shared/invalid_icon', resource: resource, field: :email %>
          <div class="mdc-line-ripple"></div>
        </div>
        <%= render 'shared/info_and_errors', resource: resource, field: :email, text: '' %>
      </li>
      <li class="form-input-container">
        <div class="mdc-text-field mdc-text-field--filled <%='mdc-text-field--invalid mdc-text-field--with-trailing-icon' if resource.errors[:password].any? %>" data-controller="textfield show-password">
          <span class="mdc-text-field__ripple"></span>
          <%= f.label :password, "Contraseña", class: "mdc-floating-label" %>
          <%= f.password_field :password, class: "mdc-text-field__input", required: true, autofocus: true, autocomplete: "current-password", data: { show_password_target: "password" } %>
          <button type="button" class="mdc-button show-password-button" data-show-password-target="toggleButton" data-action="show-password#toggle">
            <span class="material-icons">visibility</span>
          </button>
          <%= render 'shared/invalid_icon', resource: resource, field: :password %>
          <div class="mdc-line-ripple"></div>
        </div>
        <%= render 'shared/info_and_errors', resource: resource, field: :password, text: '' %>
      </li>
      <li class="form-input-container sign-in">
        <%= f.button class: "mdc-button mdc-button--raised" do %>
          <span class="mdc-button__ripple"></span>
          <span class='mdc-button__label'>
            Ingresar
          </span>
        <% end %>
      </li>
    <% end %>

    <li role="separator" class="mdc-deprecated-list-divider"></li>
    <%= render "devise/shared/links" %>
  </ul>
</div>
