<div class="flex flex-col justify-center items-center p-6 space-y-6">
  <%= image_tag "icon.png", class: "w-20 rounded-full" %>

  <h2 class="text-3xl/9 text-neutral-700">Iniciar sesión</h2>

  <div class="w-full max-w-md space-y-6">
    <%= form_with(model: resource, url: session_path(resource_name), class: "flex flex-col space-y-6") do |f| %>
      <%= render 'shared/alert' if flash[:alert] %>

      <%= render EmailFieldComponent.new(form: f, attribute: :email, label: "Correo electrónico", input_options: { required: true, autofocus: true }) %>

      <%= render PasswordFieldComponent.new(form: f, attribute: :password, label: "Contraseña", input_options: { required: true, autocomplete: "current-password" }) %>

      <%= render ButtonComponent.new(form: f, label: "Ingresar") %>
    <% end %>

    <div class="relative flex items-center">
      <div class="flex-grow border-t border-neutral-500"></div>
      <span class="flex-shrink mx-2 text-neutral-500">O continuar con</span>
      <div class="flex-grow border-t border-neutral-500"></div>
    </div>

    <% if ENV['ENABLE_PASSKEYS'].present? %>
      <div class="flex max-sm:flex-col sm:justify-evenly gap-2">
        <%= render "shared/google_sso" %>
        <%= render "shared/passkey" %>
      </div>
    <% else %>
      <%= render "shared/google_sso" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
