<% content_for :navigation_icon do %>
  <%= nav_icon("arrow_back", (request.referer || root_path)) %>
<% end %>

<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5 sign-in">Ingreso</h3>
  <ul class="mdc-list growing-text-list">

    <li class="sign-in-option sign-in">

      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= form_for "Login",
          url: omniauth_authorize_path(resource_name, provider),
          method: :post,
          data: {turbo: "false"} do |f| %>
            <%= f.submit "Login", type: "image", src: url_for("/assets/btn_google_signin_dark_normal_web.png") %>
        <% end %>
      <% end %>

    </li>
    <li role="separator" class="mdc-list-divider"></li>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


      <li class="sign-in-option sign-in">
        Ingresar con tu correo electrónico
      </li>
      <li class="sign-in-option">
        <%= f.label :email, "Correo electrónico:" %>
        <%= f.email_field :email, class: "form-input", required: true %>
      </li>
      <li class="sign-in-option">
        <%= f.label :password, "Contraseña:" %>
        <%= f.password_field :password, class: "form-input", required: true %>
      </li>
      <li class="sign-in-option sign-in">
        <%= f.submit "Ingresar", class: "sign-in-button" %>
      </li>

    <% end %>
      <li role="separator" class="mdc-list-divider"></li>
      <li class="sign-in-option sign-in">
        ¿No estás registrado?
        <%= link_to 'Registrarte', new_registration_path(resource), class: "account-session" %>
      </li>

  </ul>
</div>

