<div class="mdc-deprecated-list-group">
  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--headline5 sign-in">Ingreso</h3>
  <ul class="mdc-deprecated-list growing-text-list">

    <li class="form-input-container google-button-container">

      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= form_with url: omniauth_authorize_path(resource_name, provider), method: :post, local: true do |f| %>
          <%= f.button class: 'google-sign-in-button' do %>
            <%= image_tag asset_path('google-icon.png'), class: 'google-icon' %>
            <span class='google-sign-in-text'>Continuar con Google</span>
          <% end %>
        <% end %>
      <% end %>
    </li>

    <li role="separator" class="mdc-deprecated-list-divider"></li>

    <%= form_with(model: resource, url: session_path(resource_name), local: true, class: "space-y-6") do |f| %>
      <li class="form-input-container sign-in">
        Ingresar con tu correo electrónico
      </li>

      <%= render InputFieldComponent.new( form: f, attribute: :email, label: "Correo electrónico", type: :email, required: true) %>

      <%= render InputFieldComponent.new( form: f, attribute: :password, label: "Contraseña", type: :password, required: true) do |component| %>
        <% component.with_trailing_icon do %>
          <%= render "shared/password_visibility_button" %>
        <% end %>

        <%= component.with_corner_hint do %>
          <%= link_to '¿Has olvidado tu contraseña?', new_password_path(resource), class: "font-semibold text-gray-700 hover:text-indigo-700 text-sm/6" %>
        <% end %>
      <% end %>

      <li class="form-input-container sign-in">
        <%= f.button class: "mdc-button mdc-button--raised" do %>
          <span class="mdc-button__ripple"></span>
          <span class='mdc-button__label'>
            Ingresar
          </span>
        <% end %>
      </li>
    <% end %>

    <li role="separator" class="mdc-deprecated-list-divider"></li>
    <%= render "devise/shared/links" %>
  </ul>
</div>
