<div class="flex flex-col justify-center px-6 py-12 space-y-10">
  <h2 class="text-center text-3xl/9 text-indigo-800 font-bold tracking-tight">Iniciar sesión</h2>

  <div class="sm:mx-auto sm:w-full sm:max-w-sm space-y-6">
    <%= form_with(model: resource, url: session_path(resource_name), class: "space-y-6", local: true) do |f| %>
      <div>
        <%= f.label :email, "Correo electrónico", class: "text-sm/6 font-medium #{resource.errors[:email].any? ? 'text-red-700' : 'text-indigo-700'}" %>
        <div class="relative w-full">
          <%= f.email_field :email, class: "w-full pr-16 rounded-md bg-white px-3 py-1.5 outline-1 focus:outline-2 #{resource.errors[:email].any? ? 'outline-red-600 focus:outline-red-700' : 'outline-indigo-600 focus:outline-indigo-700'}", required: true, autofocus: true %>

          <%= render 'shared/invalid_icon', resource: resource, field: :email %>
        </div>

        <%= render 'shared/info_and_errors', resource: resource, field: :email %>
      </div>

      <div>
        <%= render 'shared/password_field', f:, resource:, field: :password, label_text: "Contraseña", autocomplete: "current-password", required: true, with_forgot_password_link: true %>

        <%= render 'shared/info_and_errors', resource: resource, field: :password %>
      </div>

      <%= f.button "Ingresar", class: "w-full rounded-md bg-indigo-700 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-600 cursor-pointer" %>
    <% end %>

    <p class="text-center text-sm/6 text-indigo-500">
      ¿No estás registrado?

      <%= link_to 'Registrarte',new_registration_path(resource), class: "font-semibold text-indigo-700 hover:text-indigo-600" %>
    </p>
  </div>

  <%= render 'devise/shared/google_sign_in' %>
</div>
