<div id="semester-<%= semester %>" class="bg-white rounded-lg border border-gray-100 shadow-sm my-4" data-semester="<%= semester %>">
  <%= render "semester_header", semester:, planned_subjects: %>

  <%= render "semester_subjects_list", semester:, planned_subjects: %>

  <%= render "semester_add_subject_form", semester:, not_planned_subjects: %>
</div>
