<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<% content_for :welcome_banner do %>
  <%= render 'shared/banner', 
      banner_type: 'planner', 
      message: 'Bienvenido a tu planificador de materias: arrastra, suelta y organiza tu semestre' %>
<% end %>

<div id="planner" class="relative pt-3 space-y-4" data-controller="planner-loading">
  <div class="flex items-center justify-between h-10 mb-3">
    <h3 class="text-lg font-bold ml-4">
      Planificador
    </h3>
    <%= render partial: "credits_counter", locals: { planned_subjects: @planned_subjects } %>
  </div>

  <%= render partial: "subjects/planned_subjects_list", locals: { planned_subjects: @planned_subjects } %>

  <%= render 'foreground_layer' %>
</div>
