<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<div class="mdc-deprecated-list-group subjects-list">
  <div class="subject-group-header">
    <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
      Materias planeadas
    </h3>
    <%= render partial: "credits_counter", locals: { planned_subjects: @planned_subjects } %>
  </div>

  <%= render partial: "subjects/planned_subjects_list", locals: { planned_subjects: @planned_subjects } %>

  <hr class="mdc-deprecated-list-divider">

  <% if @not_planned_approved_subjects.any? %> 
    <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">Materias aprobadas sin semestre asignado</h3>

    <%= render partial: "subjects/not_planned_subjects_list", locals: { subjects: @not_planned_approved_subjects } %>
  <% end %>
  
  <hr class="mdc-deprecated-list-divider">

  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
    Materias recomendadas
  </h3>

  <%= render partial: "subjects/not_planned_subjects_list", locals: { subjects: @not_planned_subjects } %>
</div>
