<header class="fixed w-full bg-primary text-white z-4" data-controller='search'>
  <% show_search_bar = params[:search].present? %>

  <div class="flex w-full h-14 sm:h-16 <%= show_search_bar ? 'hidden' : '' %>" data-search-target="appBar">
    <div class="flex items-center gap-4 ms-4">
      <%= button_tag type: "button", class: "size-6 cursor-pointer", data: { action: "click->navigation-drawer#toggle" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      <% end %>

      <%= link_to 'MiCarrera', root_path, class: 'text-xl font-bold' %>
    </div>

    <div class="flex w-full justify-end items-center sm:me-3 me-1">
      <%= button_tag "search", type: "button", class: "me-3 cursor-pointer material-icons", data: { action: "search#toggle" } %>

      <span hidden>
        <%= button_tag "cloud_download", type: "button", class: "me-3 cursor-pointer material-icons p-2", id: "butInstall" %>
      </span>

      <%= yield :credits %>

      <div class="relative mx-3" data-controller='user-menu' data-action="click@document->user-menu#onClick">
        <%= button_tag type: "button", id: "user-menu", class: "flex cursor-pointer", data: { user_menu_target: 'trigger', action: 'click->user-menu#toggle:stop' } do %>
          <% if current_user %>
            <div class="flex items-center justify-center size-6 rounded-full bg-sky-500">
              <%= current_user.email.first.capitalize %>
            </div>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-6">
              <path
                fill-rule="evenodd"
                d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                clip-rule="evenodd"
              />
            </svg>
          <% end %>
        <% end %>

        <%= render 'shared/user_menu' %>
      </div>
    </div>
  </div>

  <div class="flex w-full h-16 border-b border-b-gray-700 bg-gray-100 text-gray-800 hover:bg-neutral-100 <%= show_search_bar ? '' : 'hidden' %>" data-search-target="searchbar">
    <%= form_with(url: all_subjects_path, method: :get, local: true, class: "flex w-full justify-between") do |f| %>
      <%= f.text_field :search, value: params[:search], class: "w-full ms-6 focus:outline-0", placeholder: "Buscar por nombre o código de la materia", autofocus: true, data: { search_target: "searchInput" } %>

      <%= button_tag "close", type: "button", class: "me-6 cursor-pointer material-icons", data: { action: "search#toggle" }, tabindex: "0" %>
    <% end %>
  </div>
</header>
