<!DOCTYPE html>
<html>
  <head>
    <title>Student</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="/icon-128.png" sizes="128x128">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Student PWA">
    <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
    <meta name="theme-color" content="#6200ee"/>
  </head>

  <body class="mdc-typography">
    <%= render 'shared/info_dialog' %>
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <%= yield :navigation_icon %>
          <%= link_to 'Student', root_path, class: 'home-button'%>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
          <%= button_tag 'help', class: 'mdc-icon-button material-symbols-outlined help-button', data: { controller: 'info-dialog', action: 'click->info-dialog#open' } %>
          <span hidden>
            <button id="butInstall" class="material-icons mdc-top-app-bar__action-item mdc-icon-button">cloud_download</button>
          </span>
          <%= yield :credits %>
          <% if !content_for?(:navigation_icon) %>
            <%= render 'shared/menu' %>
          <% end %>
        </section>
      </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust">
      <% if flash[:notice] %>
        <div class="flash flash-notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="flash flash-error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash flash-error"><%= flash[:alert] %></div>
      <% end %>
      <div class='content'>
        <%= yield %>
      </div>
    </main>
    <footer class="footer mdc-theme--text-primary-on-light">
      <span class="mdc-theme--text-secondary-on-light">
        Built by&nbsp;
      </span>
      <a class="mdc-theme--text-primary-on-light" href="https://cedarcode.com" target="_blank" >Cedarcode</a>
    </footer>
  </body>
</html>
