<!DOCTYPE html>
<html>
  <head>
    <title>Student</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="/icon-128.png" sizes="128x128">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Student PWA">
    <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
    <meta name="theme-color" content="#6200ee"/>
  </head>

  <body class="mdc-typography">
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <%= yield :navigation_icon %>
          <%= yield :title %>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
          <span hidden>
            <button id="butInstall" class="material-icons mdc-top-app-bar__action-item mdc-icon-button">cloud_download</button>
          </span>
          <% if current_user %>
            <%= link_to profile_path do %>
              <% if current_user.avatar_url %>
                <%= image_tag current_user.avatar_url, class: "google-sign-in-image" %>
              <% end %>
            <% end %>
            <div class="google-sign-in-name">
              <span><%= current_user.name %></span>
              <span><%= current_user.email_address %></span>
            </div>
          <% else %>
            <%= yield :profile_link %>
          <% end %>
          <%= yield :account %>
          <%= yield :credits %>
        </section>
      </div>
    </header>
    <section class="content mdc-top-app-bar--fixed-adjust">
      <% if flash[:error] %>
        <div class="flash-error"><%= flash[:error] %></div>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
