<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/analytics' %>

    <title>MiCarrera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined' %>
    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/styles/choices.min.css' %>

    <%= favicon_link_tag "/icon-200-dark.png", type: 'image/png', size: "200x200", href: "/icon-200-dark.png", media: "(prefers-color-scheme: light)"  %>
    <%= favicon_link_tag "/icon-200-light.png", type: 'image/png', size: "200x200", href: "/icon-200-light.png", media: "(prefers-color-scheme: dark)" %>
    <%= favicon_link_tag "/apple-touch-icon.png", type: 'image/png', size: "400x400", href: "/apple-touch-icon.png", rel: 'apple-touch-icon' %>
    <%= favicon_link_tag "/apple-touch-icon-precomposed.png", type: 'image/png', size: "400x400", href: "/apple-touch-icon-precomposed.png", rel: 'apple-touch-icon-precomposed' %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="MiCarrera PWA">
    <meta name="theme-color" content="#6200ee"/>
    <meta name="description" content="Sistema de trackeo de previaturas de materias realizadas por estudiantes en la FING">
    <meta property="og:title" content="MiCarrera"/>
    <meta property="og:description" content="Sistema de trackeo de previaturas de materias realizadas por estudiantes en la FING"/>
    <meta property="og:site_name" content="MiCarrera">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://fing.micarrera.uy/"/>
    <meta property="og:image" content="https://micarrera.uy/icon-512.png">
    <meta property="og:image:width" content="512">

    <%= turbo_refresh_scroll_tag :preserve %>

    <%# For supporting legacy browsers that do not support import maps %>
    <%# See: https://github.com/rails/importmap-rails/tree/v2.0.3?tab=readme-ov-file#supporting-legacy-browsers-such-as-safari-on-ios-15 %>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
    <%= javascript_importmap_tags %>

    <% if Rails.env.test? %>
      <%= javascript_import_module_tag 'stub_credentials' %>
    <% end %>
  </head>

  <body class="font-roboto antialiased flex justify-start flex-col" data-controller='navigation-drawer'>
    <%= render 'shared/menu' %>

    <%= render 'layouts/navbar' %>
    <main class="main-content sm:mt-16 mt-14" id='main-content'>
      <%= render 'shared/notice' if flash[:notice] %>

      <%= yield :welcome_banner %>
      <div class='mx-auto max-w-[600px] pb-[40px]'>
        <%= yield %>
      </div>
    </main>
    <footer class="fixed bottom-0 w-full bg-gray-100 px-3 py-1">
      <span class="text-gray-500">
        Built by
      </span>
      <a class="text-gray-800" href="https://cedarcode.com" target="_blank" >Cedarcode</a>
    </footer>
  </body>
</html>
