<% content_for :navigation_icon do %>
  <%= nav_icon("arrow_back", (request.referer ? 'javascript:history.back()' : root_path)) %>
<% end %>
<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5 sign-in">Recuperar contraseña</h3>
  <ul class="mdc-list growing-text-list">

    <%= form_with url: "/account/reset_password" do |form| %>
      <li class="sign-in-option sign-in">
        Ingresa el correo electrónico que usaste para registrarte.
        Te enviaremos un mensaje con un enlace para restablecer tu contraseña.
      </li>
      <li class="sign-in-option">
        <%= form.label :email, "Correo electrónico:" %>
        <%= form.email_field :email, class: "form-input", required: true %>
      </li>
      <li class="sign-in-option sign-in">
        <%= form.submit "Recuperar contraseña", class: "sign-in-button" %>
      </li>
    <% end %>

  </ul>
</div>
